<div class="max-w-[230px] rounded-xl border-2 border-primary overflow-hidden">
  <div class="relative w-[230px] h-[230px] overflow-hidden">
    <img src="{{ trip.yacht.image }}" class="w-full h-full object-cover rounded-t-lg">
    <div class="absolute top-2 left-2 bg-opacity-40 bg-white text-primary text-sm font-semibold px-3 py-1 rounded-lg">
      {{ trip.yacht.model }}
    </div>
  </div>

  <div *ngIf="!shopped" class="px-2 pb-2 flex flex-col">
    <div class="flex-grow">
      <h2 class="text-xl font-bold text-primary my-2 truncate">{{ trip.name }}</h2>
    </div>

    <div>
      <p class="text-sm text-primary-light mb-1">
        <strong class="text-primary">Lugar:</strong> {{ trip.departure }}
      </p>
      <p class="text-sm text-primary-light mb-1">
        <strong class="text-primary">Duración:</strong> {{ trip.duration_hours }} horas
      </p>
      <div class="flex gap-2 items-center text-center mb-2">
        <p class="text-sm font-bold text-primary">{{ ratingsAverage }}</p>
        <svg
          class="w-4 h-4 text-yellow-300 m-0 p-0 block"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
        <!-- Mostrar las valoraciones -->
        <a
          class="text-sm text-primary-light font-medium underline hover:no-underline">{{ ratingsCount }} Valoraciones</a>
      </div>
      <button routerLink="/trip/{{ trip.id }}" class="text-secondary bg-primary py-1 w-full rounded-md hover:bg-primary-light hover:text-secondary transition duration-300">
        Comprar tickets
      </button>
    </div>
  </div>

  <div *ngIf="shopped" class="p-2">
    <h2 class="text-xl font-bold text-primary mb-2 truncate">{{ trip.name }}</h2>
    <p class="text-sm text-primary-light mb-1"><strong class="text-primary">Lugar:</strong> {{ trip.departure}}</p>
    <p class="text-sm text-primary-light mb-1"><strong class="text-primary">Fecha:</strong> {{ trip.startdate | date:'dd/MM/yyyy'}}</p>

    <p class="text-sm" [ngClass]="{'text-alert': isPastDate(trip.startdate), 'text-success': !isPastDate(trip.startdate)}">
      <strong class="text-primary">Estado:</strong> {{ isPastDate(trip.startdate) ? 'Terminado' : 'Reservado' }}
    </p>

    <!-- Nuevo botón para valorar el viaje -->
    <div *ngIf="!hasReviewed" class="mt-4">
      <button
        (click)="openReviewModal()"
        class="text-secondary bg-primary py-1 w-full rounded-md hover:bg-primary-light hover:text-secondary transition duration-300">
        Valorar mi experiencia
      </button>
    </div>
  </div>

  <app-review-modal
    [isOpen]="isModalOpen"
  (closeModal)="closeReviewModal()">
  </app-review-modal>
</div>
