<div class="relative min-h-screen bg-[#030a0d]">
  <!-- Fondo con GIF y opacidad reducida -->
  <div class="absolute inset-0 bg-[url('/landingBg.jpg')] bg-cover bg-fixed opacity-50"></div>

  <!-- Contenedor con fondo primario y opacidad -->
  <div class="relative flex flex-col items-center justify-center min-h-screen p-4">
    <div class="bg-primary bg-opacity-80 rounded-2xl p-8 max-w-5xl w-full sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32">

      <!-- Contenido del sitio en un grid -->
      <div class="grid md:grid-cols-2 grid-cols-1 gap-8 items-center">

        <!-- Sección Izquierda -->
        <div class="text-secondary flex flex-col items-center text-center">
          <img src="/oceanLux-logo.png" class="sm:w-[320px] w-[200px] p-4">
          <h1 class="sm:text-7xl text-5xl pb-4">OceanLux</h1>
          <p class="italic lg:text-2xl sm:text-xl font-light">
            Siente cada ola, vive la experiencia
          </p>
        </div>

        <!-- Sección Derecha (Botones) -->
        <div class="flex flex-col items-center justify-center md:gap-8 gap-4 h-full text-center">
          <h3 class="text-secondary text-md sm:text-xl lg:text-2xl font-semibold md:text-center">
            Empieza a buscar tu próxima experiencia
          </h3>
          <div class="flex flex-col w-full gap-6">
            <button
              routerLink="/logaccount"
              class="bg-secondary text-primary py-2 w-full rounded-md hover:text-secondary hover:bg-primary-light transition duration-300">
              Iniciar sesión
            </button>
            <button
              routerLink="/search"
              class="bg-secondary text-primary py-2 w-full rounded-md hover:text-secondary hover:bg-primary-light transition duration-300">
              Buscar experiencias
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-sidebar />
</div>
